<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmict.server.system.mapper.AreaMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmict.entity.system.Area">
        <id column="ID" property="id" />
        <result column="AREA_NAME" property="areaName" />
    </resultMap>

    <select id="selectListByUserId" resultMap="BaseResultMap">
        SELECT A.ID,A.AREA_NAME FROM t_area A
        LEFT JOIN t_user_area B ON B.AREA_ID = A.ID
        WHERE B.USER_ID = #{userId}
    </select>
</mapper>
