<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmict.server.system.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmict.entity.system.Device">
        <id column="DEVICE_ID" property="deviceId" />
        <result column="DEVICE_TYPE" property="deviceType" />
        <result column="DEVICE_NAME" property="deviceName" />
        <result column="TYPE" property="type" />
        <result column="REMARK" property="remark" />
        <result column="AREA_ID" property="areaId" />
        <result column="LON" property="lon" />
        <result column="LAT" property="lat" />
        <result column="ADDRESS" property="address" />
        <result column="BIND_DEVICE" property="bindDevice" />
        <result column="STATUS" property="status" />
        <result column="BIND_TIME" property="bindTime" />
        <result column="MODIFY_TIME" property="modifyTime" />
    </resultMap>

    <select id="selectDevicePosition" resultType="com.cmict.server.system.vo.DevicePositionVO">
        SELECT DEVICE_ID,LON,LAT FROM t_device
        <where>
            <if test="areaId != null and areaId != ''">
                AND AREA_ID = #{areaId}
            </if>
            AND TYPE = '0'
        </where>
        ORDER BY AREA_ID DESC
    </select>
    <select id="findDeviceListPage" resultMap="BaseResultMap">
        select *
        from t_device
        where TYPE = #{type}
        <if test="deviceName != null and deviceName != ''">
            AND DEVICE_NAME like CONCAT(CONCAT('%', #{deviceName}), '%')
        </if>
    </select>

    <select id="deviceListByAreaId" resultType="com.cmict.server.system.vo.QueryCameraVO">
        SELECT DEVICE_ID,DEVICE_NAME FROM t_device
        <where>
            <if test="areaId != null and areaId != ''">
                AND AREA_ID = #{areaId}
            </if>
            AND TYPE = '0'
        </where>
    </select>
</mapper>
