<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmict.server.system.mapper.EventUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cmict.entity.system.EventUser">
        <result column="CASE_NUMBER" property="caseNumber" />
        <result column="USER_ID" property="userId" />
        <result column="LOOK" property="look" />
        <result column="ATTENTION" property="attention" />
    </resultMap>

</mapper>
