<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmict.activiti.mapper.LeaveApplyMapper">
    <resultMap id="BaseResultMap" type="com.cmict.activiti.entity.LeaveApply">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="leave_type" jdbcType="VARCHAR" property="leaveType"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="apply_time" jdbcType="VARCHAR" property="applyTime"/>
        <result column="reality_start_time" jdbcType="VARCHAR" property="reality_start_time"/>
        <result column="reality_end_time" jdbcType="VARCHAR" property="reality_end_time"/>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.cmict.activiti.entity.LeaveApply">
        insert into leaveapply (process_instance_id, user_id, start_time, end_time, leave_type, reason, apply_time,
                                reality_start_time, reality_end_time)
        values (#{processInstanceId}, #{userId}, #{startTime}, #{endTime}, #{leaveType}, #{reason}, #{applyTime},
                #{reality_start_time}, #{reality_end_time})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.cmict.activiti.entity.LeaveApply">
        update leaveapply
        <set>
            <if test="processInstanceId != null">
                process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=VARCHAR},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=VARCHAR},
            </if>
            <if test="leaveType != null">
                leave_type = #{leaveType,jdbcType=VARCHAR},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime,jdbcType=VARCHAR},
            </if>
            <if test="reality_start_time != null">
                reality_start_time = #{reality_start_time,jdbcType=VARCHAR},
            </if>
            <if test="reality_end_time != null">
                reality_end_time = #{reality_end_time,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="getLeaveApply" resultType="com.cmict.activiti.entity.LeaveApply" parameterType="int">
        select * from leaveapply where process_instance_id=#{id}
    </select>

    <select id="listLeaveApplyByApplyer" resultMap="BaseResultMap">
        select * from leaveapply
    </select>

    <select id="getTaskName" resultType="com.cmict.activiti.entity.Task">
        select * from act_ru_task where PROC_INST_ID_ = #{processInstanceId}
    </select>


</mapper>